body {
  width: 1220px;
}

.head {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
