* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 30px;
  margin: 0 auto;
  width: 1220px;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 74px;
}

ul {
  list-style: none;
}

img {
  width: inherit;
}

h2 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 37px;
}
p {
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: #fff;
}

/* ************************************* */
.education,
.contacts,
.code,
.head-pic {
  background-color: rgb(48, 51, 50);
  color: white;
}
.education,
.contacts,
.code {
  padding-top: 40px;
}
/* ************************************* */

/* end setting */

/* start head */
.head {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.head-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 145px;
  background-color: rgb(255, 230, 0);
}

.head-pic {
  width: 450.31px;
  height: 542.06px;
}

.head-title {
  width: 565px;
}

.surname {
  font-weight: normal;
}

.head-desc {
  padding-left: 0;
  display: block;
  font-size: 37px;
}

/* end head */

/* start content */
.content {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 30px;
}
/* end content */

/* start education */
.title-list-item {
  font-weight: 600;
  font-size: 27px;
}

.line-wrap {
  padding-left: 20px;
  padding-bottom: 20px;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
}

.line-left {
  background-color: rgb(255, 230, 0);
}
/* end education */

/* start about */
.about {
  width: 100%;
}
/* end about */

/* start contacts */
.cont-icon {
  display: block;
}
.item-desc {
  display: flex;
  align-items: center;
}
/* end contacts */

/* code */
.code-link {
  color: rgb(255, 230, 0);
}
.code-link:hover {
  padding: 3px;
  border: 1px solid rgb(255, 230, 0);
  border-radius: 12px;
  color: rgb(255, 255, 255);
}
/* code */

/* start work */
.work-link {
  color: rgb(153, 153, 153);
}
.work-link:hover {
  padding: 3px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 12px;
  background-color: rgb(153, 153, 153);
  color: rgb(255, 230, 0);
}
/* end work */
